/* ===============Special Selectors=============== */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

p {
    font-weight: 400;
}

/* ===============Page Header=============== */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-transform: uppercase;

}

.features {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features .feat-link:hover,
.features .feat-link:focus {
    color: #404bbf;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: #404bbf;
}
/* ===============/Page Header=============== */

/* ===============Page main=============== */

/* ===============Hero section=============== */
.main-text {
    background-color: #2e2f42;
}

.text-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
}

.button-text {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button-text:hover,
.button-text:focus {
    color: #404bbf;
}
/* ===============/Hero section=============== */

/* ===============Point-list=============== */
.point-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.point-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ===============/Point-list=============== */

/* ===============Our Team=============== */
.team-works {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #ffffff;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-skill {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ===============/Our Team=============== */

/* ===============Our Portfolio=============== */
.port-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.port-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.port-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ===============/Our Portfolio=============== */

/* ===============/Page Main=============== */

/* ===============Page Footer=============== */
.page-footer {
    background-color: #2e2f42;
}

.logo-studio-foot {
    color: #f4f4fd;
}

.text-footer {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* ===============/Page Footer=============== */